:root {
  /* Header */
  --header-color: #ffffffed;
  --header-bg-color: #ffffff00;
  --header-icon-color: #fefefe;
  --header-text-color: #fefefe;
  --header-text-shadow-color:#00000080;
  --header-bordercolor-1: #dfeed4ff;
  --header-bordercolor-2: #dfeed4ff;
  --header-bg-image: none;

/* Hero */
  --hero-bg-image-fg-color: #f4dec3;
  --hero-bg-color: #ffffff;
  --hero-text-color: #000000;

/* Main */
  --main-bg: #ffffff;
  --main-bg-color: #f4dec3;
  --main-text-color: #000000;

/* Menu */
  --menu-bg-color-1: #ffffff00;
  --menu-bg-color-2: #ffffff00;
  --menu-text-color: #000000;


/* Buttons */
  --button-color1: #e7db03;
  --button-color2: #8d783f;
  --button-text-color1: #000000;
  --selected-button-color1: #b80000;
  --selected-button-color2: #795800;
  --selected-button-color3: #ffffffa6;
  --selected-text-color1: #fff;
}
