:root {
  /* Header */
  --header-color: #ffffffed;
  --header-bg-color: #fff2001f;
  --header-icon-color: #fefefe;
  --header-text-color: #fefefe;
  --header-text-shadow-color:#00000080;
  --header-bordercolor-1: #b8000033;
  --header-bordercolor-2: #b800001c;
  --header-bg-image: none;

/* Hero */
  --hero-bg-image-fg-color: #f4dec3;
  --hero-bg-color: #ffffff;
  --hero-text-color: #000000;

/* Main */
  --main-bg: #ffffff;
  --main-bg-color: #f4dec3;
  --main-text-color: #000000;

/* Menu */
  --menu-bg-color-1: #ffffff;
  --menu-bg-color-2: #ffffff00;
  --menu-text-color: #000000;


/* Buttons */
  --button-color1: #fff200;
  --button-color2: #c18c00;
  --button-text-color1: #000000;
  --selected-button-color1: #fff200;
  --selected-button-color2: #fff20036;
  --selected-button-color3: #b80000a6;
  --selected-text-color1: #000000;
}
